<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Injector</title>
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/bootstrap.min.css" 
          rel="stylesheet" media="screen">
    <link href="../assets/css/log-widget.css" 
          rel="stylesheet" media="screen">          
  </head>
  <body>
    <div ng-view>
    </div>
    <script type="text/ng-template" id="/route.html">
      <header class="hero-unit">
        <div class="container">
          <h1>Route {{routeId}} in {{timeoutDelay}}ms</h1>
          <a href="#/route/{{nextRouteId}}" 
             class="btn btn-primary btn-large" 
             ng-hide="loading"
             ng-click="loading()">Goto {{nextRouteId}} &gt;&gt;</a>
          <a href="" class="btn btn-large disabled"
             ng-show="loading">Loading...</a>
          <a href="" class="btn btn-large btn-danger"
             ng-show="loading"
             ng-click="cancel()">Cancel</a>
          <a href="#/route/{{routeId}}"
             class="btn btn-inverse btn-large"
             ng-show="cancelled">Reset {{routeId}}</a>
        </div>
      </header>
    </script>
    <script src="../lib/angular.js" 
            type="text/javascript"></script>
    <script src="../lib/ui-bootstrap-0.4.0.js" 
            type="text/javascript"></script>
    <script src="../lib/log-widget.js"
            type="text/javascript"></script>            
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>