<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Injector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <section ng-controller="PaymentForm as paymentForm" class="container">
      <p>Credit Card: <input type="text" ng-model="order.creditCard"></p>
      <p>Amount: <input type="text" ng-model="order.amount"></p>
      <a href="#" class="btn" ng-click="paymentForm.chargeHandler(order)">Charge</a>
    </section>
    <script src="../lib/angular.js" type="text/javascript"></script>
    <script src="../lib/ui-bootstrap-0.4.0.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>