<!DOCTYPE html>
<html ng-app="ngModelControllerDemo">
<head>
    <title>ngModelControllerDemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="priceEditController">
    <div class="well">
        <h4>NgModel Controller API</h4>
        <form name="demo" class="form-horizontal">
            <div class="control-group" ng-class="{error: demo.price.$invalid}">
                <label class="control-label">Price:&nbsp;</label>

                <div class="controls">
                    <price-edit name="price" ng-model="vehicle.price" my-number-validator></price-edit>
                    <br />
                    <br />
                    <span><strong>scope.vehicle.price =</strong> <input type="text" ng-model="vehicle.price" /> </span>
                    <br />
                    <br />
                    <span><strong>price $modelValue =</strong> {{ demo.price.$modelValue }} </span>
                    <br />
                    <br />
                    <span><strong>price $viewValue =</strong>  {{ demo.price.$viewValue }} </span>
                    <br />
                    <br />
                    <span><strong>price.$invalid =</strong>  {{ demo.price.$invalid }} </span>
                </div>
            </div>
        </form>
    </div>
    <script src="../lib/angular.js" type="text/javascript"></script>
    <script src="../lib/ui-bootstrap-0.4.0.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>